body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashboard{
    height: 90vh;
    width: 20vw;
    min-width: 15vw;
    padding-top: 7vh;
    border-right: 1px solid rgb(219, 219, 219);
}
.head-main{
    display: flex;
    flex: 1;
}
.main-default{
    flex: 1;
}
.navbar{
    background-color: #fff;
    border-bottom: 1px solid rgb(219, 219, 219);
  }

  .form-addu{
    margin-top: 5px;  
    flex: 1;
    max-width: 45vw;
    background-color: #fff;
    padding: 50px;
  }
  .form-insc{
    margin-top: 125px;
    max-width: 400px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    padding: 50px;
  }
 .form-head{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline red;
  }
.form-control:focus{
      box-shadow: none;
  }
  .sub-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub-button .btn{
    margin-top: 50px;
  }
  .list-group-item a{
    color: #5e5e5e;
    text-decoration: none;
    transition: 0.3s;
  }
  .list-group-item a:hover{
    color: #000;
  }
  .StockBtn{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 1.5vw;
  }
  .StockBtn a button{
    width: 100%;
 
  }
  .UpdateBtn{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 1.5vw;
  }
  .UpdateBtn a button{
    width: 100%;
 
  }

  .ajoutForm{
    max-width: 500px;
    height: 50px;
    margin: 50px auto ;
  }
  .update-form{
    max-width: 700px;
    margin: 50px auto;
  }
  .update-form input{
    width: 100%;
  }
  .update-btn{
    margin-top: 20px;
    display: flex;
    justify-content: end;
  }
  .update-btn input{
    width: 120px;
  }
  .Bon{
    flex: 1;
}
.btn-valid{
  position: absolute;
  right: 7%;
}
.bon-form{
  max-width: 600px;
  margin-top: 30px;
  position: relative;
}
.bon-table{
  margin-top: 150px;
}
.users-table{
  margin: 100px 50px;
}
.alert-addu{
  height: auto;
  font-size: 13px;
}
.group-btn-prod{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.group-btn-prod button{
  height: 60px;
}
.pdf{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px auto;
  max-width: 900px;
  border: 1px solid #8b8b8b;

}
.pdf-table{
  width: 100%;
}
.pdf-table,.pdf-table tr,.pdf-table td,.pdf-table th{
  border: 1px solid #000;
  padding: 15px;

}
.pdf-table thead{
  text-align: center;
  text-decoration: underline;
}
.devis-titre{
  display: flex;
  justify-content: space-between;
}
.desc{
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.pdf-devis{
  border: 1px solid #8b8b8b;
  padding: 50px;
  border-radius: 8px;
}
.devis-titre ul li{
  list-style-type: none;
}
.btn-PDF{
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
.button-radio{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}